<section class="container-fluid" data-bind="foreach:posts">
    <div class="list-group">
        <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading" data-bind="text: title"></h4>
            <p data-bind="text: url"></p>
            <p data-bind="text: createdDate"></p>
        </a>
    </div>
</section>
<div>
    <nav>
        <ul class="pager">
            <li>
                <span data-bind="text:total"></span>
                <button type="button" class="btn btn-primary" data-bind="click: previousPostLink">Prev</button>
                <button type="button" class="btn btn-primary" data-bind="click: nextPostLink">Next</button>
            </li>
        </ul>
    </nav>
</div>

